*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    src: url(font/MYRIADPRO-REGULAR.OTF);
    font-family: MYRIADPRO-REGULAR;
}
@font-face {
    src: url(font/MYRIADPRO-SEMIBOLD.OTF);
    font-family: MYRIADPRO-BOLD;
}
@font-face {
    src: url(font/MYRIADPRO-CONDIT.OTF);
    font-family: MYRIADPRO-CONDIT;
}

html{
    scroll-behavior: smooth;
}
header{
    font-family: MYRIADPRO-REGULAR;
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    box-shadow: 0px -3px 15px 0px rgb(102, 101, 101);
}
nav{
    width: 100%;
    height: 100%;
    padding: 0 5% 0 45%;
    transition: 0.8s;
}
#Zaduzbina{
}
#nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
}
nav ul li{
    text-align: center;
    display: inline-block;
    position: relative;
	float: left;
    height: 100%;
}
nav ul li a{
    color: rgb(250, 235, 215);;
    transition: all 0.5s ease 0s;
    text-decoration: none;
    font-size: calc(1.2vw);
    display: block;
    padding: 16px 20px;
    width: calc(10vw);
    letter-spacing: 2px;
}
nav ul li ul{
	position: absolute;
	left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
nav ul li ul li a{ 
    padding: 16px 20px;
    width: calc(10vw);
}
nav ul li a:hover{
    transition: all 0.5s ease 0s;
    text-decoration: none;
    color: rgb(77, 21, 21);
    background-color: rgb(250, 235, 215);
    color: rgb(77, 21, 21);
}
nav ul li:focus-within > ul,
nav ul li:hover > ul{
    visibility: visible;
    opacity: 1;
}
#page{
    position: relative;
}
#hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-image: url(./pictures/backgrounds/pozadina2-modified.jpg);
    background-size: cover;
    font-family: MYRIADPRO-REGULAR;

}

#title-sima{
    height: 100%;
    width: 100%;
    background-color: rgba(145, 113, 46, 0.2);
}
#title{
    background-color: rgba(207, 201, 189, 0.7);
    width: 65%;
    height: 60%;
    position: relative;
    top: 30%;
    left: 15%;
    box-shadow: 0px 0 30px 8px #474545;
}
#title h1{
    font-size: calc(1vh + 5vw - 20px);
    text-align: center;
    color: rgba(77, 21, 21, 80%);
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 16px;
}
#sima{
    position: absolute;
    right: -22%;
    top: -10%;
    height: 110%;
    width: 37%;
}
#sima img{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}
#news{
    width: 100%;
    height: 100vh;
    min-height: 850px;
    background-color: rgb(243, 233, 219);
    position: relative;
    font-family: MYRIADPRO-REGULAR;
    
}
#konkursi{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}
#konkursi-naslov{
    position: absolute;
    top: 8%;
    left: 6%;
}
#konkursi-naslov h2{
    font-size: calc(3vw - 0px);
    color: rgb(77, 21, 21);
    letter-spacing: 5px;
}
.konkurs{
    height: 65%;
    width: 20%;
    position: relative;
    top: 25%;
}
.konkurs a{
    text-decoration: none;
    color: black;
}
.konkurs-border{
    height: 95%;
    width: 100%;
    border: 3px solid rgb(77, 21, 21);
    position: relative;
    top: 5%;
    box-shadow: 5px 5px 15px rgb(77, 21, 21), -2px -2px 15px rgb(197, 174, 174);
    transition: 1.1s all;
}
.konkurs-border:hover{
    box-shadow: inset -2px -2px 15px rgb(77, 21, 21), inset 5px 5px 15px rgb(197, 174, 174);
    transition: 1.1s all;
}
.konkurs-sadrzaj{
    height: 85%;
    width: 85%;
    border-top: 3px solid rgb(77, 21, 21);
    border-bottom: 3px solid rgb(77, 21, 21);
    position: relative;
    top: 7.5%;
    margin: auto;
    letter-spacing: 0.5px;
}
.konkrs-picture{
    width: 75%;
    height: 30%;
    margin: auto;
    position: relative;
    top: 5%;
    
}
.konkrs-picture img{
    width: 100%;
    height: 100%;
}
.konkurs-text{
    width: 75%;
    height: 60%;
    margin: auto;
    position: relative;
    top: 7%;
    text-align: justify;
}
.konkurs-text h2{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}
.konkurs-text h5{
    padding: 5%;
    font-size: 1vw;
    font-weight: bold;
}
.konkurs-text p{
    font-size: 0.9vw;
}
#upravni-odbor{
    width: 100%;
    height: 120vh;
    min-height: 850px;
    background-color: rgb(77, 21, 21);
}
#upravni-odbor-border{
    height: 90%;
    width: 94%;
    border: 5px solid rgb(243, 233, 219);
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
#uo-1{
    width: 100%;
    height: 50%;
    position: relative;
}
#uo-2{
    width: 100%;
    height: 50%;
}
#patrijarh-border{
    border: 5px solid rgb(243, 233, 219);
    width: 14%;
    height: 65%;
    margin: auto;
    position: relative;
    top: 10%;
    cursor: pointer;
}
#patrijarh{
    border: 3px solid rgb(243, 233, 219);
    width: 93%;
    height: 95%;
    margin: auto; 
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    
}
#patrijarh-ime{
    position: relative;
    top: 14%;
    color: rgb(243, 233, 219);
    text-align: center;
    font-size: 1.2vw;
    transition: visibility 0s, opacity 0.5s linear;
}
#patrijarh-opis{
    width: 120%;
    background-color: rgba(243, 233, 219, 85%);
    position: relative;
    left: 30%;
    top: -88%;
    transition: all 0.5s ease 0s;
    box-shadow: 3px 3px 10px  rgb(129, 104, 104);
    padding:  8% 15%;
    z-index: 2;
    font-weight: 550;
    font-family: MYRIADPRO-CONDIT;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
#patrijarh-opis h2{
    text-align: center;
    padding: 5% 0;
    font-size: 1.4vw;
}
#patrijarh-opis p{
    font-size: 1.2vw;
    text-align: justify;
}
#patrijarh-border:hover #patrijarh-opis{
    visibility: visible;
    opacity: 1;
}
#patrijarh-border:hover ~ #patrijarh-ime{
    opacity: 0;
}
#uo-2{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.clan-uo-border{
    height: 65%;
    width: 15%;
    border: 3px solid rgb(243, 233, 219);
    position: relative;
    top: 5%;
}
.clan-uo{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#upravni-odbor img{
    height: 90%;
    width: 90%;
    position: relative;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
.clan-uo-opis{
    width: 120%;
    background-color: rgba(243, 233, 219, 85%);
    position: relative;
    left: 30%;
    top: -80%;
    transition: all 0.5s ease 0s;
    box-shadow: 3px 3px 10px  rgb(129, 104, 104);
    padding: 8% 15%;
    font-weight: 550;
    font-size: 1.1vw;
    font-family: MYRIADPRO-CONDIT;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.clan-uo-opis h2{
    text-align: center;
    padding: 5% 0;
    font-size: 1.4vw;
}
.clan-ime{
    position: relative;
    top: 15%;
    color: rgb(243, 233, 219);
    text-align: center;
    font-size: 1.1vw;  
    transition: visibility 0s, opacity 0.5s linear;
}
#clan2-uo-opis{
    left: -70%;
}
#clan4-uo-opis{
    left: -70%;
}
#clan1-uo:hover #clan1-uo-opis{  
    visibility: visible;
    opacity: 1;
}
#clan1-uo:hover ~ .clan-ime{
    opacity: 0;
}
#clan2-uo:hover #clan2-uo-opis{
    visibility: visible;
    opacity: 1;
}
#clan2-uo:hover ~ .clan-ime{
    opacity: 0;
}
#clan3-uo:hover #clan3-uo-opis{
    
    visibility: visible;
    opacity: 1;
}
#clan3-uo:hover ~ .clan-ime{
    opacity: 0;
}
#clan4-uo:hover #clan4-uo-opis{
    visibility: visible;
    opacity: 1;
}
#clan4-uo:hover ~ .clan-ime{
    opacity: 0;
}
#about{
    font-family: MYRIADPRO-REGULAR;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background-color: rgb(243, 233, 219);
    position: relative;
}
#about-text{
    width: 60%;
    margin: auto;
    position: relative;
    top: 6%;
    padding: 2.5%;
    text-align: justify;
}
#about-text p{
    font-size: 1.2vw;
}
#about-pictures{
    width: 70%;
    height: 55%;
    margin: auto;
    position: relative;
    top: 10%;
}
#ap1{
    width: 100%;
    height: 45%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-around;
}
#ap2{
    width: 100%;
    height: 45%;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-around;
}
.a-picture{
    height: 100%;
    width: 30%;
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px rgb(158, 132, 97), -3px -3px 10px rgb(255, 255, 255);
}
.a-picture img{
    width: 100%;
    height: 100%;
    filter: sepia(0.7);
    transition: all 0.5s ease 0s;
}
.a-picture div{
    width: 100%;
    height: 100%;
    background-color: rgba(145, 113, 46, 0.2);
    position: absolute;
}
.a-picture img:hover{
    filter: none;
}
#about-pictures-enlarged{
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    z-index: 3;
}
#about-pictures-enlarged-border{
    width: 100%;
    height: 100%;
}
#about-pictures-enlarged-img{
    height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#contact{
    font-family: MYRIADPRO-REGULAR;
    height: 60vh;
    width: 100%;
    min-height: 350px;
    background-color: rgb(92, 91, 91);
    display: flex;
}
#kontakt{
    height: 50%;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;

}
#kontakt i{
    margin-top: 3%;
}
#kontakt p{
    display: inline-block;
    font-weight: bold;
}
#mapa-border{
    height: 80%;
    width: 30%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    box-shadow: 5px 5px 20px 15px rgb(53, 53, 53);
}
#mapa{
    width: 100%;
    height: 100%;
}

#mapa iframe{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}
#mapa-preko{
}